@media (max-width: 767px){
  body {
    background-image: url(../img/mobile.jpg);
    background-position: center;
    background-size: cover;
  }
  .screen p {
    margin: auto;
    font-size: 100px;
    display: none;
    color: #9323b2;
  }
  .screen .mobile {
    display: block;
  }
  .screen .desktop {
    display: none;
  }
}
