@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-image: url(../img/tablet.jpg);
    background-position: center;
    background-size: cover;
  }
  .screen p {
    margin: auto;
    font-size: 100px;
    display: none;
    color: #ffd800;
  }
  .screen .desktop {
    display: none;
  }
  .screen .tablet {
    display: block;
  }
}
