body {
  background-image: url(../img/desktop.jpg);
  background-position: center;
  background-size: cover;
}
.screen {
  height: 100vh;
  display: flex;
}
.screen p {
  position: absolute;
  top: 30px;
  right: 40px;
  margin: auto;
  font-size: 100px;
  display: none;
  color: black;
}
.screen .desktop {
  display: block;
}
